<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    {{#each @model as |bill|}}
      <tr>
        <td>{{bill.title}}</td>
        <td>{{bill.description}}</td>
        <td>P {{bill.amount}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{outlet}}