<div class="row pb-2">
  <h2>{{@model.title}}</h2>
  <p class="w-100">{{{@model.description}}}</p>
</div>

<SubItemList @parentModel={{this.model}} @ingredients={{this.ingredients}} @title="Ingredients" @type="ingredient" />
