<div class="row mb-5">
  <div class="col-md-12">
      <h2>Recipes</h2>
    <button type="button" class="btn btn-primary float-right" onclick={{action "showModalWithForm"}}>Add Recipe</button>
  </div>
</div>

<div class="row">
  {{#each @model as |recipe|}}
    <div class="col-md-4 mb-3">
      <Card @recipe={{recipe}} @showModalWithForm={{showModalWithForm}}/>
    </div>
  {{/each}}
</div>

{{outlet}}